.dashboard {
    display: flex;
    flex-direction: column;
}

.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px dotted black;
    padding: 20px;
}

.welcome_text {
    text-align: center;
}

.flash {
    width: 250px;
}

.username_container {
    background-color: black;
    width: 200px;
    color: white;
    text-align: center;
    padding: 5px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile .btn, .btn_group .logout_btn { width: 200px; }

.logout_btn {
    border-color: #E62F21;
    color: #E62F21;
}

.logout_btn:hover {
    background-color: #E62F21;
}

.no_study_set {
    border: 5px dotted black;
    padding: 10px;
}

.wordset_container {
    display: flex;
    flex-direction: column;
    border: 5px dotted black;
    gap: 20px;
    padding: 20px;
}

.wordset {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border: 2px solid black;
}

.wordset h5 {
    text-overflow: ellipsis;
    overflow-x: hidden;
    /* overflow-x: hidden; */
}

.wordset h5:hover {
    overflow: visible;
}

.wordset_btn_group {
    gap: 5px;
    display: flex;
}

.test {
    border-color: #FFD708;
    color: #FFD708;
}

.test:hover {
    background-color: #FFD708;
}

.delete_btn {
  font-weight: bold;
  border-color: #E62F21;
  color: #E62F21;
}

.delete_btn:hover {
    background-color: #E62F21;
}

#popup_delete, #popup_exit {
    visibility: hidden;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_popup_delete, #main_popup_exit {
    width: 300px;
    height: 400px;
    background-color: white;
    border: 2px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

#main_popup_exit p, #main_popup_delete p {
    text-align: center;
}

#main_popup_exit .btn, #main_popup_delete .btn {
    flex: 1;
    border-color: var(--flash-yellow);
    color: var(--flash-yellow);
}

#main_popup_exit .btn:hover, #main_popup_delete .btn:hover {
    background-color: var(--flash-yellow);
    color: black;
}

#main_popup_exit .confirm_btn, #main_popup_delete .confirm_btn {
    border-color: var(--flash-red);
    color: var(--flash-red);
}

#main_popup_exit .confirm_btn:hover, #main_popup_delete .confirm_btn:hover {
    background-color: var(--flash-red);
    color: black;
}

.close_popup {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    border: none;
}

.confirm_or_cancel {
    align-self: stretch;
    display: flex;
    align-items: stretch;
    gap: 10px;
}