#back_button {
    position: absolute;
    right: 20px;
    top: 20px;
}

.wordset_name {
    position: fixed; 
    top: 20px; 
    left: 20px;
    padding: 5px; 
    background-color: black; 
    color: white; 
    border-radius: 5px;
}

.wordset_container {
    display: flex;
    margin-top: 150px;
}

.word_container {
    background-color: #f4f4f4;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.word_container > p {
    display: none;
}

.word_container:hover > h4 {
    display: none;
}

.word_container:hover > p {
    display: block;
}