.word_container {
    display: none;
}

.word_container > h4 {
    text-align: center;
}

#wordset_container{
    display: none;
    width: 400px;
    margin: 200px auto;
}

.word_id{
    display: none;
}

.setting_container {
    max-width: 400px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.setting_container > h2 {
    text-align: center;
}

.description {
    min-width: 500px;
    min-height: 40px;
}

.hidden_form{
    display:none;
}

.test_start_bt{
    display:block;
}

input{
    margin: 20px;
}