{% extends 'base.html' %}

{% block pagecss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_wordset.css') }}">
{% endblock %}
{% block title %}
Create a wordset
{% endblock %}

{% block body %}
    <h1>Let's create a wordset!</h1>
    <a href="/" class="btn" id="back_button">back to dashboard</a>
    <form style="margin-top: 50px; border: 5px dotted black; padding: 20px;" action="/create_wordset" method="POST">
        <input type="text" name="wordset_name" placeholder="name of the wordset">
        <div>
            <label for="num_words"># of words:</label>
            <input id="num_words" type="number" name="num_words" placeholder="# of words" value="1" min="1">
        </div>
      
        <div id="wordset_container">
            <div class="word_container">
                <input name="word" placeholder="word">
                <input name="description" placeholder="description">
            </div>
        </div>

        <button class="btn" type="submit">create</button>
    </form>

    <script src="{{url_for('static', filename='/js/create_wordset.js')}}"></script>
{% endblock %}