{% extends 'base.html' %}

{% block pagecss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block title %}
Login
{% endblock %}

{% block body %}
<div class="login">
    <h1 class="title">Welcome to <span style="color: #E62F21; font-family: inherit;">Flash</span>-<span style="color: #FFD708; font-family: inherit;">card</span>! Please Login</h1>
    <img class="welcome-image" src="{{ url_for('static', filename='images/flash-welcome.png') }}"/>
    <form class="login_form" method="POST" action="/login">
        <input type="text" name="username" placeholder="please enter your name" required>
        <button class="btn" type="submit">Enter</button>
    </form> 
</div>
{% endblock %}
