{% extends 'base.html' %}

{% block pagecss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/study.css') }}">
{% endblock %}
{% block title %}
Study
{% endblock %}

{% block body %}
    <div class="study_container">
        <a href="/" class="btn back_btn">back to dashboard</a>
        <br/>
        <h1 class="wordset_name title">{{ wordset.name }}</h1>
        <div class="wordset_container">
            {% for word in words %}
            <div class="word_container">
                <h4>{{ word.name }}</h4>
                <p>{{ word.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
