<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/test.css')}}">
    <title>Flashcard | Test</title>
</head>
<body>
    <h1>Test</h1>
    <button>start</button>

    <div id="wordset_container">
        {% for word in words %}
        <div class="word_container">
            <h4>{{ word.name }}</h4>
            <p>{{ word.description }}</p>
        </div>
        {% endfor %}
    </div>

    <script src="{{url_for('static', filename='js/test.js')}}"></script>
</body>
</html>